@import "../../assets/css/libs/mixin.scss";

.Cdiv{
    position: relative;
    padding-top: 48px;
}
.Ctable{
    width:100%;
    @include box((ta:center));
    thead{
        @include box((w:100%,h:48px,bg:#f6f6f6,fs:14px));
        // position: absolute;
        // top: 0;
        // left: 0;
    }
    th{
        @include box((fw:normal,c:$black2,fs:14px,h:48px));
    }
    tbody{
        @include box((w:100%,bg:$white));
        tr{
            @include box((lh:28px));
            border-bottom:1px solid #e5e5e5;
        }
        td{
            padding:12px 0;
        }
    }
    
    .disflex {
        display: flex;
        justify-content:center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}
input:disabled {
    background: #ccc;
    cursor:not-allowed; 
}